<div ng-controller="couponListCtrl">
	<h2>Coupon 리스트</h2>
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Coupon</th>
			<th>Regdate</th>
		</tr>

		<tr ng-if='data.content.length > 0'
			ng-repeat='d in data.content | offset: offset | limitTo : data.size'>
			<td>{{d.id}}</td>
			<td>{{d.email}}</td>
			<td>{{d.coupon}}</td>
			<td>{{d.regDate}}</td>
		</tr>

		<tr ng-if='data.content.length == 0'>
			<td colspan="8">
				<p class="text-center">등록된 데이터가 없습니다.</p>
			</td>
		</tr>
	</table>
	
	<div class="text-center">
		<uib-pagination total-items="totalItems" ng-change="coupon.pageChanged()"
			ng-model="currentPage" max-size="10" class="pagination-sm"
			boundary-links="true" rotate="true" num-pages="numPages">
		</uib-pagination>
	</div>
	
	<div class="text-right">
		<a href="" ui-sref="couponWrite" class="btn btn-success">등록</a>
	</div>
</div>

